* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg: #080b12;
    --bg-light: #0e131d;
    --card: #111722;
    --blue: #4f8cff;
    --blue-light: #7da8ff;
    --text: #f5f7fb;
    --muted: #9aa4b5;
    --border: rgba(255,255,255,0.08);
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    background: rgba(8,11,18,0.85);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid var(--border);

    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: 800;
}

.logo span,
.footer-logo span {
    color: var(--blue);
}

.navbar nav {
    display: flex;
    gap: 30px;
}

.navbar nav a {
    color: var(--muted);
    font-size: 14px;
    transition: .3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: white;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}


/* HERO */

.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 120px 10% 80px;

    background:
        radial-gradient(
            circle at 80% 30%,
            rgba(79,140,255,.18),
            transparent 30%
        );
}

.hero-content {
    max-width: 700px;
}

.small-title,
.section-title p {
    color: var(--blue);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.hero h1 {
    font-size: clamp(48px, 7vw, 85px);
    line-height: 1;
    letter-spacing: -4px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: var(--blue);
}

.hero h2 {
    font-size: 22px;
    color: #dce3ef;
    margin-bottom: 20px;
}

.hero-text {
    color: var(--muted);
    max-width: 600px;
    font-size: 17px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.btn {
    display: inline-block;
    padding: 13px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.btn.primary {
    background: var(--blue);
    color: white;
}

.btn.primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(79,140,255,.25);
}

.btn.secondary {
    border: 1px solid var(--border);
    color: white;
}

.btn.secondary:hover {
    background: var(--card);
}

.hero-image {
    display: flex;
    justify-content: center;
}

.profile-circle {
    width: 340px;
    height: 340px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        rgba(79,140,255,.4),
        rgba(79,140,255,.05)
    );

    border: 1px solid rgba(79,140,255,.4);

    box-shadow:
        0 0 80px rgba(79,140,255,.15);
}

.profile-circle img {
    width: 300px;
    height: 300x;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}


/* GENERAL SECTIONS */

.section {
    padding: 110px 10%;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 45px;
}


/* ABOUT */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.about-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text p {
    color: var(--muted);
    margin-bottom: 15px;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-box {
    display: flex;
    gap: 20px;

    padding: 22px;

    background: var(--card);
    border: 1px solid var(--border);

    border-radius: 12px;
}

.info-box span {
    font-size: 25px;
}

.info-box h4 {
    margin-bottom: 3px;
}

.info-box p {
    color: var(--muted);
}


/* SKILLS */

.skills-section {
    background: var(--bg-light);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.skill-card {
    background: var(--card);
    padding: 30px;

    border: 1px solid var(--border);
    border-radius: 12px;

    transition: .3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    border-color: rgba(79,140,255,.5);
}

.skill-icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.skill-card h3 {
    margin-bottom: 5px;
}

.skill-card p {
    color: var(--muted);
}


/* PROJECTS */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    overflow: hidden;

    background: var(--card);

    border: 1px solid var(--border);
    border-radius: 12px;

    transition: .3s;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-image {
    height: 220px;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(
            135deg,
            #101a2c,
            #172541
        );
}

.image-placeholder {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--blue-light);
}

.project-content {
    padding: 25px;
}

.project-number {
    color: var(--blue);
    font-size: 12px;
    font-weight: 700;
}

.project-content h3 {
    margin: 10px 0;
}

.project-content p {
    color: var(--muted);
    font-size: 14px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 20px 0;
}

.tech-stack span {
    background: rgba(79,140,255,.1);
    color: var(--blue-light);

    padding: 5px 9px;
    border-radius: 5px;

    font-size: 11px;
}

.project-link {
    color: var(--blue-light);
    font-weight: 600;
}


/* RESUME */

.resume-section {
    background: var(--bg-light);
}

.resume-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    padding: 55px;

    border: 1px solid var(--border);
    border-radius: 15px;

    background:
        radial-gradient(
            circle at 90% 50%,
            rgba(79,140,255,.15),
            transparent 40%
        );
}

.resume-container h2 {
    font-size: 42px;
    line-height: 1.15;
    margin-bottom: 15px;
}

.resume-container p {
    color: var(--muted);
}


/* CONTACT */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.contact-info > p {
    color: var(--muted);
    max-width: 500px;
}

.contact-item {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.contact-item span {
    font-size: 22px;
}

.contact-item small {
    color: var(--muted);
}

.contact-item p {
    font-size: 14px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    padding: 15px;

    background: var(--card);

    border: 1px solid var(--border);
    border-radius: 8px;

    color: white;
    font-family: inherit;

    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--blue);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}


/* FOOTER */

footer {
    padding: 35px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var(--border);

    color: var(--muted);
}

.footer-logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a:hover {
    color: white;
}


/* RESPONSIVE */

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .hero-text {
        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .profile-circle {
        width: 280px;
        height: 280px;
    }

    .profile-placeholder {
        width: 220px;
        height: 220px;
    }

    .about-container,
    .contact-container {
        grid-template-columns: 1fr;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .resume-container {
        flex-direction: column;
        align-items: flex-start;
    }
}


@media (max-width: 650px) {

    .navbar {
        padding: 0 6%;
    }

    .navbar nav {
        position: absolute;

        top: 75px;
        left: 0;

        width: 100%;

        display: none;
        flex-direction: column;

        padding: 20px;

        background: #0b0f17;
    }

    .navbar nav.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        padding-left: 6%;
        padding-right: 6%;
    }

    .section {
        padding-left: 6%;
        padding-right: 6%;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .resume-container {
        padding: 30px;
    }

    .resume-container h2 {
        font-size: 32px;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}